<footer class="footer ">
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                <h3> Навигация</h3>
              <ul >
                  <li><a href="#">Главная</a></li>
                  <li><a href="#">Новые поступления</a></li>
                  <li><a href="#">Нижнее белье</a></li>
                  <li><a href="#">Домашняя одежда</a></li>
                  <li><a href="#">Купальники</a></li>
                  <li><a href="#">Мужское белье</a></li>
            </ul>
            </div>
            <div class="col-lg-3">
                <h3 id="contact"> Наши контакты</h3>
                <p> <a style="margin-left:0px;" href="tel:+375296344922">+37529 634-49-22</a></p>
                <p> <a style="margin-left:0px;" href="tel:+375296344922">+37529 634-49-22</a></p>
                <p> <a style="margin-left:0px;" href="tel:+375296344922">+37529 634-49-22</a></p>
                <span style="margin-right: 10px; margin-left: 10px"><a href="#" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></span>
                <span> <a href="#" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></span>
            </div>
            <div class="col-lg-3">
                <h3> Наш адрес</h3>
                г.Минск, ул.Раковская 20 <br>
                Мы работает с 11:00 до 19:00
            </div>
            <div class="col-lg-3">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad226c73193b36d3b1f6835828befe81996683a5f85ded532379c4d90c4927c67&amp;source=constructor" width="320" height="240" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</footer>